<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li class="active"><a href="#">Overview</a></li>
    </ul>
  </div>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Manage Messages</h1>

    <form ng-submit="saveNewMessage()">
      <input type="text" ng-model="newMessage.body" class="col-md-12"><br><br>
      <button class="btn btn-primary">Save</button>
    </form>

    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="message in messages | orderBy:'lastModifiedAt':reverse=true">
          <td>{{message.id}}</td>
          <td>{{message.body}}</td>
          <td>{{message.lastModifiedAt | date:'MMMM dd yyyy, h:mm:ss.sss a'}}</td>
          <td><button ng-click="deleteMessage(message)" class="btn btn-danger">Delete</button></td>
        </tr>
        </tbody>
      </table>
    </div>
    <hr>
    <footer>
      <p>© Robert Thurnher 2014</p>
    </footer>
  </div>
</div>
